
{% if __SELF__.media.data %}

<div class="d-flex  flex-wrap justify-content-center justify-content-lg-around justify-content-md-around techrino">
    {% for media in __SELF__.media.data %}


        <a href="{{media.link}}" class=" mx-3 my-4 ig-frame" style="background-image: url('{{media.images.standard_resolution.url}}')">
            <div class="ig-caption bg-white mt-auto px-4 py-2">
                <div class="d-flex  justify-content-around">
                    <div class="d-flex flex-column justify-content-around align-items-center">
                        <strong>❤️</strong><p class="like-count">{{media.likes.count}}</p>
                    </div>
                    <div class="mx-3"></div>
                    <div class="d-flex flex-column ig-caption-text">
                        <p>{{media.caption.text}}</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="posted-on">🗓 {{media.caption.created_time | date("D, d M Y h:i a")}}</p>
                </div>
            </div>
        </a>

    {% endfor %}

</div>
{% elseif __SELF__.media.error_type %}

<div class="alert alert-danger">
    <strong>Instagram API Plugin Error</strong>
    <p>{{InstagramGallery.media.error_type}}: {{ InstagramGallery.media.error_message}}</p>
    <p>If issue persist, please go to settings > Instagram API Settings, press the reauthenticate button.</p>
</div>

{% endif %}
