.techrino .ig-frame {
    border-radius: 0;
    height:320px;
    width: 320px;
    border:none;
    background-size: cover;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
.techrino .ig-frame a {
    text-decoration: none;

}
.techrino  .ig-frame:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    text-decoration: none;
}


.techrino  .ig-caption {
    position: relative;
    z-index: 1;
    top:80%;
    bottom:0;
    left:0;
    right:0;
    min-height: 80px;
    max-height: 100px;
    text-decoration: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
.techrino .ig-bio {
font-weight: 200;
}

.techrino .ig-fullname {
    font-weight: 100;
}

.techrino .ig-username {
    font-weight: 300;
}

.techrino .like-count {
    font-weight: bold;
    color: slategray;
}
.techrino .posted-on {
    font-weight: 100;
    color: gray;
}

.techrino .ig-caption-text  {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    white-space: pre-line;
    text-decoration: none;
    color: #282828;
    max-height: 50px;
}

.techrino .ig-circle {
    border-radius: 100% 100% 100%;
    height: 150px;
    width: 150px;
    border:none;
}

.techrino.ig-user-profile {
    border-radius: 3pt;
    border: 1pt solid lightgray;
}
