{% if __SELF__.user.meta.code == 100 %}


<div class="alert alert-warning">
    <p>Instagram API credential haven't been setup yet. Please provide your API credentials in the backend settings</p>
</div>

{% elseif __SELF__.user.meta.code == 400 %}

<div class="alert alert-danger">
    <p>There is a problem while authenticate to Instagram API. If problem persist, please re-authenticate in backend settings.</p>
</div>

{% else %}
<!-- API Render Successfully -->
    <div class="d-flex justify-content-around align-content-center align-items-center flex-wrap techrino ig-user-profile py-3 px-3">
        {% if __SELF__.user.data %}

        <div class="d-flex justify-content-around justify-content-sm-between align-items-center flex-wrap flex-sm-nowrap">

            {% if __SELF__.property('showProfilePicture') %}
                <img class="ig-circle my-2" src="{{__SELF__.user.data.profile_picture}}" alt="{{__SELF__.user.data.userName}}">
            {% endif %}

            <div class="d-flex flex-column mx-5 align-items-center align-items-sm-start">
                {% if __SELF__.property('showFullName') %}
                <strong class="ig-fullname ">
                    {{__SELF__.user.data.full_name}}
                </strong>
                {% endif %}

                {% if __SELF__.property('showUserName') %}
                <strong class="ig-username">
                    @{{__SELF__.user.data.username}}
                </strong>

                {% endif %}

                {% if __SELF__.property('showBio') %}
                    <p class="ig-bio my-2">
                        {{__SELF__.user.data.bio}}
                    </p>
                {% endif %}
            </div>
            </div>


            <div class="d-flex flex-column align-items-start">
                <a  class="btn btn-primary" href="https://instagram.com/{{__SELF__.user.data.username}}">Follow</a>

            </div>

        {% if __SELF__.property('showFollowerCount') %}

        {% endif %}


        {% endif %}
</div>

{% endif %}
