
<?php use Techrino\Instagram\Models\Settings;

$username = Settings::get("username", null);
$profilePicture = Settings::get("profile_picture" , null);
$userID = Settings::get("user_id", null);
$fullName = Settings::get("full_name", null);
?>

<?php if(is_null($username)): ?>
<a href="<?= Backend::url('techrino/instagram/settings/authenticate')?>" class="btn btn-primary" >Start Authenticate with Instagram</a>
<?php else: ?>
<h3>Current Logged In As:</h3>

<div class="span-half">
    <img src="<?= $profilePicture ?>" alt="<?= $username?>">

</div>

<div class="span-half">
    <h4>User Name: @<?= $username ?></h4>
    <h4>Full Name: <?= $fullName ?></h4>
    <h4>User ID: <?= $userID ?></h4>

</div>
<a href="<?= Backend::url('techrino/instagram/settings/authenticate')?>" class="btn btn-primary" >Re-Authenticate Instagram</a>
<a href="<?= Backend::url('techrino/instagram/settings/authenticate?action=logout')?>" class="btn btn-danger" >Logout</a>
<?php endif; ?>
